@using MvcFirmaCagrı.Models.Entity
@model List<Cagrilartbl>
@{
    ViewBag.Title = "AktifCagrılar";
    Layout = "~/Views/Shared/FirmaLayout.cshtml";
}

@*kenarlıklıbr tablo oluşturduk*@
<h2>AktifCagrılar</h2>
@*<h3>  Merhaba @ViewBag.m  </h3>*@
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Düzenle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Konu </td>           
            <td>@x.Tarih.</td>
            <td><a href="/Default/cagrıgetir/@x.ID " class="btn btn-success">Düzenle</td>
            <td><a href="/Default/cagrıdetay/@x.ID/" class="btn btn-danger">Detaylar</td>
        </tr>
    }
</table>
<a href="/Default/yenicagrı"class="btn btn-warning" >Yeni Çağrı Ekle</a>

